/*
!.bashrc
!.bash_profile
!.funcs
!.alias
!.completion
!.?pacman

!.color_schemes/
!.inputrc
!.dircolors
!.toprc
!.xinitrc
!.Xdefaults

!.archquotes
!.fonts.conf
!.wallpaper.png

!.vimrc
!.vim/
.vim/.netrwhist

!.irssi/
.irssi/config
.irssi/saved_colors
.irssi/away.log

!.ncmpcpp/
.ncmpcpp/*
!.ncmpcpp/config

!.gitignore
