/*
!.bashrc
!.bash_profile

!.funcs
!.alias
!.completion

!.color_schemes/
!.inputrc*
!.dircolors

!.xinitrc
!.Xdefaults

!.archquotes
!.fonts.conf*
!.conky/

!.shot.png
!.cleanshot.png
!.wallpaper.png
!.irssi.shot.png

!.vimrc
!.vim/
.vim/.netrwhist

!.irssi/
.irssi/config
.irssi/saved_colors
.irssi/away.log

!.config/
.config/*
!.config/openbox/
!.config/tint2/

!.ncmpcpp/
.ncmpcpp/error.log

!.mutt/
.mutt/gmail_account
.mutt/cache/
.mutt/certificates

!.gitignore
