
# do not bell on tab-completion
set bell-style none

# completion doesnt care about case
set completion-ignore-case on

# if there are more than 'x' possible completions for a word, ask the
# user if he wants to see all of them
set completion-query-items 50

# Adding this will result in a character  being appended to 
# any file-names returned by completion, in much the same
# way as ls -F works.
set visible-stats on

# If you have this, you will no longer have to hit the <Tab> 
# key twice to produce a list of all possible completions.
# A single <Tab>  will suffice.
set show-all-if-ambiguous on

# Completed names which are symbolic links to
# directories have a slash appended.
set mark-symlinked-directories on

# edit mode is vi like
set editing-mode vi

#set echo-control-characters Off
#set expand-tilde Off
#set match-hidden-files On
#set page-completions Off

#"\C-j": "|less\C-m"
#"\e[B": history-search-forward
#"\e[A": history-search-backward

