! c00kiemon5ter (ivan.kanak@gmail.com)
! All cookies reserved (C)

!! xft settings
!Xft.autohint:false
!Xft.lcdfilter:lcddefault
!Xft.hintstyle:hintfull
!Xft.hinting:true
!Xft.antialias:true
!Xft.dpi:96
!Xft.rgba:rgb

! X Cursor theme
Xcursor.theme: Vanilla-DMZ
Xcursor.size:  16

! Fonts
URxvt.font:      -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
URxvt.bold.font: -xos4-terminus-bold-r-normal--12-120-72-72-c-60-iso10646-1
! runtime resize -- printf '\033]710;%s\007' "xft:terminus:pixelsize=12"
URxvt.keysym.M-C-1:command:\033]710;xft:terminus:pixelsize=12\007
URxvt.keysym.M-C-2:command:\033]710;xft:terminus:pixelsize=14\007
URxvt.keysym.M-C-3:command:\033]710;xft:terminus:pixelsize=16\007
URxvt.keysym.M-C-4:command:\033]710;xft:terminus:pixelsize=18\007
URxvt.keysym.M-C-5:command:\033]710;xft:terminus:pixelsize=20\007
URxvt.keysym.M-C-6:command:\033]710;xft:terminus:pixelsize=22\007
URxvt.keysym.M-C-7:command:\033]710;xft:terminus:pixelsize=24\007
URxvt.keysym.M-C-8:command:\033]710;xft:terminus:pixelsize=28\007
URxvt.keysym.M-C-9:command:\033]710;xft:terminus:pixelsize=32\007

! URxvt Settings
URxvt.title:rxvt-unicode
URxvt.visualBell:false
URxvt.urgentOnBell:true
URxvt.geometry:98x28
URxvt.externalBorder:2
URxvt.internalBorder:4

URxvt.perl-ext-common:matcher,selection,-readline,-selection-popup,-option-popup,-option-popup,-tabbed,-searchable-scrollback
URxvt.cutchars:"()*,<>[]{}|'"
URxvt.matcher.button:1

! urxvt-perls
URxvt.perl-ext:             clipboard,url-select,keyboard-select
! url-select
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.url-select.autocopy:  true
URvxt.url-select.button:    1
URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true
! keyboard-select
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search

!URxvt.inputMethod:SCIM
!URxvt.preeditType:OverTheSpot,Root
URxvt.imLocale:en_US.UTF-8
modifier:meta
!alt, meta, hyper, super, mod1..5

URxvt.saveLines:2000
URxvt.scrollstyle:plain
URxvt.jumpScroll:true
URxvt.skipScroll:true
URxvt.scrollBar:false
URxvt.scrollTtyOutput:false
URxvt.scrollWithBuffer:true
URxvt.scrollTtyKeypress:true
URxvt.mouseWheelScrollPage:false

URxvt.iso14755:false
URxvt.iso14755_52:false

! URxvt Color Settings
#include "/home/c00kiemon5ter/.color_schemes/solarcookies"

URxvt.cursorBlink:false
URxvt.transparent:false
URxvt.depth:16

! Misc Programs
*font:     -*-fixed-medium-r-normal-*-*-130-*-*-*-*-iso10646-1
*boldFont: -*-fixed-medium-r-normal-*-*-130-*-*-*-*-iso10646-1

XFontSel*background:#FAFAFA
XFontSel*foreground:#454545

Mumble*background:default
Mumble*foreground:default

Vlc*background:default
Vlc*foreground:default

